{layout name="common/layout" /}

<!-- oren css -->
<style data-render="style">
    .viddz .vidz_sec {
        padding-top: 21px;
        padding-bottom: 24px;
    }

    .viddz .vidz_list {
        margin-bottom: 0;
    }

    .viddz .videoo.pr {
        margin: 0;
    }

    .viddz .videoo {
        margin-bottom: 0;
    }

    .viddz .vidz_sec>h3 {
        margin-bottom: 24px;
        float: left;
    }

    .viddz .vidz_sec>a {
        float: right;
        color: #6e6f70;
        font-size: 16px;
    }

    /* ========================= VIDEOS SECTION ========================= */
    .vidz_sec {
        position: relative;
        border-bottom: 1px solid #e2ebef;
        padding: 30px 0;
    }

    .vidz_list {
        margin-bottom: -23px;
    }

    .rm_dv {
        position: absolute;
        top: 3px;
        right: 0;
    }

    .vidz_sec>h3 {
        font-size: 18px;
        margin-bottom: 24px;
        color: #1c1b1b;
        font-weight: 500;
    }

    .vcp_inf {
        display: table;
        margin-bottom: 29px;
        position: relative;
    }

    .vc_hd {
        display: table-cell;
        float: left;
        width: 60px;
        height: 60px;
    }

    .vc_hd>img {
        width: 100%;
    }

    .vc_info {
        display: table-cell;
        width: 100%;
        vertical-align: middle;
        padding-left: 20px;
    }

    .vc_info h4 {
        color: #1c1b1b;
        font-size: 16px;
        font-weight: 500;
    }

    .vc_info>span {
        display: inline-block;
        color: #6e6f70;
        font-size: 14px;
    }

    .view-btn {
        position: absolute;
        top: 32px;
        right: 0;
        color: #6e6f70;
        font-size: 16px;
    }

    .vc-count {
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 14px;
        color: #6e6f70;
    }

    /* ======================= VIDEOS LIT =========================== */
    .videoo {
        margin-bottom: 26px;
    }

    .vid_thumbainl {
        position: relative;
        margin-bottom: 23px;
    }

    .play_vid {
        position: absolute;
        top: 8px;
        right: 0;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 38px;
        background: rgba(38, 38, 54, 0.9);
        opacity: 0;
        visibility: hidden;
        padding-left: 3px;
    }

    .play_vid:before {
        display: none;
    }

    .videoo:hover .play_vid {
        margin: 0;
        right: 10px;
        visibility: visible;
        opacity: 1;
    }

    .play_vid svg {
        position: relative;
        left: -1px;
    }

    svg:hover path {
        fill: #e8a32c;
    }

    .play_vid svg path {
        fill: #fff;
    }

    .vid_thumbainl {
        position: relative;
    }

    .vid_thumbainl>a {
        display: block;
        position: relative;
        overflow: hidden;
    }

    .vid_thumbainl>a img {
        width: 100%;
        object-fit: cover;
    }

    .videoo:hover .vid_thumbainl>a img {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

    .vid_thumbainl .watch_later,
    .vidz_img .watch_later {
        display: inline-block;
        position: absolute;
        top: 7px;
        right: 0;
        width: 30px;
        height: 30px;
        background-color: #414346;
        line-height: 30px;
        color: #fff;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
    }

    .vid_thumbainl .watch_later i,
    .vidz_img .watch_later i {
        font-size: 14px;
    }

    .vid_thumbainl:hover .watch_later,
    .vidz_img:hover .watch_later {
        opacity: 1;
        visibility: visible;
        right: 7px;
    }

    .vid-time {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 21px;
        line-height: 21px;
        color: #FFFFFF;
        font-size: 14px;
        padding: 0 6px;
        background: rgba(38, 38, 54, 0.9);
    }

    .video_info {
        width: 100%;
        margin-top: 14px;
    }

    .video_info>h3 {
        color: #1c1b1b;
        font-size: 16px;
        line-height: 23px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .video_info>span {
        display: inline-block;
        color: #6e6f70;
        font-size: 14px;
        line-height: 16px;
        /*margin-bottom: 15px;*/
    }

    .video_info>span .posted_dt {
        margin-left: 5px;
    }

    .verify_ic i {
        display: inline-block;
        font-size: 8px;
        margin-left: 6px;
        position: relative;
        top: -2px;
    }

    .sidebar .video_info>span {
        margin-bottom: 0;
    }

    .sidebar .videoo-list {
        margin-bottom: 8px;
    }

    .posted_dt {
        display: inline-block;
        color: #7e7e7e;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }

    .video_info>h4 {
        color: #6e6f70;
        font-size: 14px;
        line-height: 16px;
        padding-top: 5px;
        display: block;
        margin-bottom: 2px;
    }

    .upload-detail .video_info>h4 {
        color: #6e6f70;
        font-size: 14px;
    }

    .upload-detail .video_info.sr svg {
        float: none;
    }

    .cancel_vid {
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .more_items_sec {
        padding: 70px 0;
        border-top: 1px solid #e2ebef;
    }

    .more_items_sec svg {
        width: 25px;
        height: 25px;
    }

    .more_items_sec svg path {
        fill: #000;
    }

    .btm_bar_content::-webkit-scrollbar {
        width: 1em;
        height: 3px;
    }

    .btm_bar_content::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .btm_bar_content::-webkit-scrollbar-thumb {
        background-color: #e8a32c;
        outline: 1px solid #e8a32c;
    }

    .intro-area .carousel-focus .item .carousel-img {
        height: 400px;
        width: auto;
        object-fit: cover;
    }
</style>

<div class="intro-area area-padding-2 hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div id="intro-focus" class="carousel slide carousel-focus" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {cms:blocklist id="block" name="newsfocus" row="2"}
                        <li data-target="#intro-focus" data-slide-to="{:$i-1}" class="{if $i==1}active{/if}"></li>
                        {/cms:blocklist}
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        {cms:blocklist id="block" name="newsfocus" row="2"}
                        <div class="item {if $i==1}active{/if}">
                            <a href="{$block.url}">
                                <div class="carousel-img" style="background-image:url('{$block.image}');"></div>
                            </a>
                        </div>
                        {/cms:blocklist}
                    </div>
                    <a class="left carousel-control" href="#intro-focus" role="button" data-slide="prev">
                        <span class="icon-prev fa fa-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">上一张</span>
                    </a>
                    <a class="right carousel-control" href="#intro-focus" role="button" data-slide="next">
                        <span class="icon-next fa fa-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">下一张</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="reviewer-area">
    <div class="viddz">
        <div class="container">
            <div class="vidz_sec">
                <h3>精选</h3>
                <div class="clearfix"></div>
                <div class="vidz_list">
                    <div class="row">
                        {cms:arclist id="item" channel="$__CHANNEL__.id" type="sons" row="2" flag="top" orderby="publishtime desc" addon="author,duration"}
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="videoo">
                                <div class="vid_thumbainl"><a href="{$item.url}" title=""><img src="{$item.image}" alt=""><span class="vid-time">{$item.duration|htmlentities}</span></a></div><!--vid_thumbnail end-->
                                <div class="video_info">
                                    <h3><a href="{$item.url}" title="">{$item.title|htmlentities}</a></h3>
                                    <?php $publishtime = \fast\Date::human($item['publishtime']) ?>
                                    <span>{$item.views} 次观看， <small class="posted_dt">{$publishtime|htmlentities}</small></span>
                                </div>
                            </div><!--videoo end-->
                        </div>
                        {/cms:arclist}
                    </div>
                </div><!--vidz_list end-->
            </div><!--vidz_videos end-->
        </div>
    </div><!--viddz end-->

    <div class="viddz">
        <div class="container">
            <div class="vidz_sec">
                <h3>最新上传</h3>
                <div class="clearfix"></div>
                <div class="vidz_list">
                    <div class="row">
                        {cms:arclist id="item" channel="$__CHANNEL__.id" type="sons" row="4" flag="new" orderby="publishtime desc" addon="author,duration"}
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6 full_wdth">
                            <div class="videoo">
                                <div class="vid_thumbainl"><a href="{$item.url}" title=""><img src="{$item.image}" alt=""><span class="vid-time">{$item.duration|htmlentities}</span></a></div><!--vid_thumbnail end-->
                                <div class="video_info">
                                    <h3><a href="{$item.url}" title="">{$item.title|htmlentities}</a></h3>
                                    <?php $publishtime = \fast\Date::human($item['publishtime']) ?>
                                    <span>{$item.views} 次观看， <small class="posted_dt">{$publishtime|htmlentities}</small></span>
                                </div>
                            </div><!--videoo end-->
                        </div>
                        {/cms:arclist}
                    </div>
                </div><!--vidz_list end-->
            </div><!--vidz_videos end-->
        </div>
    </div><!--viddz end-->

    <div class="viddz">
        <div class="container">
            <div class="vidz_sec">
                <h3>热门</h3>
                <div class="clearfix"></div>
                <div class="vidz_list">
                    <div class="row">
                        {cms:arclist id="item" channel="$__CHANNEL__.id" type="sons" row="4" flag="hot" orderby="publishtime desc" addon="author,duration"}
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6 full_wdth">
                            <div class="videoo">
                                <div class="vid_thumbainl"><a href="{$item.url}" title=""><img src="{$item.image}" alt=""><span class="vid-time">{$item.duration|htmlentities}</span></a></div><!--vid_thumbnail end-->
                                <div class="video_info">
                                    <h3><a href="{$item.url}" title="">{$item.title|htmlentities}</a></h3>
                                    <?php $publishtime = \fast\Date::human($item['publishtime']) ?>
                                    <span>{$item.views} 次观看， <small class="posted_dt">{$publishtime|htmlentities}</small></span>
                                </div>
                            </div><!--videoo end-->
                        </div>
                        {/cms:arclist}
                    </div>
                </div><!--vidz_list end-->
            </div><!--vidz_videos end-->
        </div>
    </div><!--viddz end-->


    <!-- S 栏目列表 -->
    <div class="panel-body pt-0">
        <div class="channel-list">
            <div class="row">
                <!-- S 栏目列表 -->
                {cms:channellist id="channel" type="son" typeid="$__CHANNEL__.id" paginate="10"}
                <div class="viddz">
                    <div class="container">
                        <div class="vidz_sec">
                            <h3>{$channel.name|htmlentities}</h3><a href="{$channel.url}" title="">更多</a>
                            <div class="clearfix"></div>
                            <div class="vidz_list">
                                <div class="row">
                                    {cms:arclist id="item" channel="$channel.id" row="8" orderby="publishtime desc" addon="author,duration"}
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-6 full_wdth">
                                        <div class="videoo">
                                            <div class="vid_thumbainl"><a href="{$item.url}" title=""><img src="{$item.image}" alt=""><span class="vid-time">{$item.duration|htmlentities}</span></a></div><!--vid_thumbnail end-->
                                            <div class="video_info">
                                                <h3><a href="{$item.url}" title="">{$item.title|htmlentities}</a></h3>
                                                <?php $publishtime = \fast\Date::human($item['publishtime']) ?>
                                                <span>{$item.views} 次观看， <small class="posted_dt">{$publishtime|htmlentities}</small></span>
                                            </div>
                                        </div><!--videoo end-->
                                    </div>
                                    {/cms:arclist}
                                </div>
                            </div><!--vidz_list end-->
                        </div><!--vidz_videos end-->
                    </div>
                </div><!--viddz end-->
                {/cms:channellist}
                <!-- E 栏目列表 -->
            </div>
        </div>
        <!-- S 分页 -->
        <div class="text-center pager">
            {cms:pageinfo type="full" /}
        </div>
        <!-- E 分页 -->
    </div>
</div>