{layout name="common/layout" /}
<!-- Start Slider Area -->
<div class="intro-area">
    <div class="bg-wrapper">
        <img src="__ADDON__/pezion/img/background/bg.jpg" alt="">
    </div>
    <div class="intro-bg">
        <img src="__ADDON__/pezion/img/background/bgp.png" alt="">
    </div>
    <div class="intro-content">
        <div class="slider-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- layer 1 -->
                        <div class="layer-1 wow fadeInUp" data-wow-delay="0.3s">
                            <h2 class="title2"><span class="color-text">云时代</span>数字化技术与服务提供商</h2>
                        </div>
                        <!-- layer 2 -->
                        <div class="layer-2 wow fadeInUp" data-wow-delay="0.5s">
                            <p>提供云原生、大数据、低代码等数字化前沿技术，助力企业提质增效、快速转型，构建企业数字化未来。</p>
                        </div>
                        <!-- layer 3 -->
                        <div class="layer-3 wow fadeInUp" data-wow-delay="0.7s">
                            <a target="_blank" href="{:addon_url('formulascc/apply/', '', false, true)}" class="ready-btn left-btn">立即体验</a>
                            <div class="video-content">
                                <a class="video-play vid-zone">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                        <!-- layer 4 -->
                        <div class="layer-4 wow fadeInUp" data-wow-delay="0.7s">
                            <br></br>
                            <p>开春特惠活动，凡咨询企业，均提供一次免费数字化转型ROI评估测算！快来算算您的企业数字化转型的收益吧！</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Slider Area -->
<!-- Welcome service area start -->
<div class="welcome-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="services-list">
                    <div class="left-headline">
                        <h3>为您提供数字化技术与咨询服务</h3>
                        <p>专注中小企业数字化转型，为企业与创新者提供业务流程自动化、数据采集与治理、以及商业建模分析与辅助决策等产品及解决方案。</p>
                    </div>
                    <div class="services-image services-carousel">
                        <img src="__ADDON__/pezion/img/feature/ft.png" alt="">
                        <img src="__ADDON__/pezion/img/feature/ft1.png" alt="">
                        <img src="__ADDON__/pezion/img/feature/ft2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="all-services">
                        <!-- single-well end-->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="well-services first-item wow fadeInUp" data-wow-delay="0.3s">
                                <div class="well-img">
                                    <a class="big-icon" href="#" onclick="return false;"><i class="flaticon-list-1"></i></a>
                                </div>
                                <div class="main-wel">
                                    <div class="wel-content">
                                        <h4>业务流程自动化</h4>
                                        <p>利用数字化工具自动完成一般需要人工手动完成的重复工作，从简单的客户响应到复杂的多级工作流，软件机器人都可以出色完成。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-well end-->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="well-services wow fadeInUp" data-wow-delay="0.5s">
                                <div class="well-img">
                                    <a class="big-icon" href="#" onclick="return false;"><i class="flaticon-edit-1"></i></a>
                                </div>
                                <div class="main-wel">
                                    <div class="wel-content">
                                        <h4>数据采集与治理</h4>
                                        <p>利用一站式数据开发平台，帮助企业打通内部及产业上下游的数据壁垒，助力企业数据资产沉淀、增值、变现，让企业数据“活”起来。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-well end-->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="well-services thired-item wow fadeInUp" data-wow-delay="0.7s">
                                <div class="well-img">
                                    <a class="big-icon" href="#" onclick="return false;"><i class="flaticon-worldwide"></i></a>
                                </div>
                                <div class="main-wel">
                                    <div class="wel-content">
                                        <h4>商业建模分析与辅助决策</h4>
                                        <p>从数据角度出发，全面、系统的对商业问题进行建模分析，发现并解决业务问题，从而做到数据驱动，实现商业智能。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-well end-->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="well-services wow fadeInUp" data-wow-delay="0.9s">
                                <div class="services-img">
                                    <a class="big-icon" href="#" onclick="return false;"><i class="flaticon-share-1"></i></a>
                                </div>
                                <div class="main-wel">
                                    <div class="wel-content">
                                        <h4>数字化转型咨询</h4>
                                        <p>基于业务发展需求，帮助企业梳理流程及IT系统需求，制定从业务发展规划、应用及系统架构规划、数据架构规划，并提供端到端系统实施服务。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-well end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Welcome service area End -->
<!-- Start Reviews Area -->
<div class="reviews-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h3>核心产品与服务</h3>
                    <p></p>
                    <p>技术先进，产品优质，服务一流，为企业数字化转型提供强劲支持。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Reviews Area -->
<!-- Start About Area -->
<div class="feature-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="feature-inner">
                    <div class="feature-text">
                        <a href="{:addon_url('formulascc/product/connector', '', false, true)}" onclick="return false;">
                            <h3><span class="color-text">软件连接器</span></h3>
                        </a>
                        <p>基于<a href="https://www.jijyun.cn/index.html" target="_blank"><span>集简云</span></a>开放平台，针对特定行业场景方案，进行二次优化，推出的一款低代码场景连接工具。</p>
                        <div class="feature-list">
                            <a><i class="flaticon-link"></i></a>
                            <div class="list-single">
                                <h5>连接软件与软件最简单的方式</h5>
                                <p>可视化业务流程搭建，点点鼠标就可以完成自动化流程搭建，无需任何代码开发。</p>
                            </div>
                        </div>
                        <div class="feature-list">
                            <a><i class="flaticon-controls"></i></a>
                            <div class="list-single">
                                <h5>自动化您的业务流程</h5>
                                <p>自动化连接企业内部与外部数据，高效搭建企业的自动化业务流程。</p>
                            </div>
                        </div>
                        <div class="feature-list">
                            <a><i class="flaticon-battery"></i></a>
                            <div class="list-single">
                                <h5>利用AI技术让业务流程更高效</h5>
                                <p>业务流程中需要人工处理的重复环节，利用AI技术提升流程效率。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="feature-image item-bounce">
                    <img src="__ADDON__/pezion/img/feature/pd.png" alt="">
                </div>
            </div>
        </div>
        <!-- end Row -->
    </div>
</div>
<!-- End About Area -->
<!-- Start About Area -->
<div class="feature-area-2 area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="feature-image item-bounce">
                    <img src="__ADDON__/pezion/img/feature/pd1.png" alt="">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="feature-inner">
                    <div class="feature-text">
                        <a href="{:addon_url('formulascc/product/rpa', '', false, true)}" onclick="return false;">
                            <h3><span class="color-text">数字机器人/RPA</span></h3>
                        </a>
                        <p>基于开源自动化框架<a href="https://robotframework.org/" target="_blank"><span>
                                    Robot Framework</span></a>，针对本土特色进行针对性调优，推出的一款流程自动化软件机器人，适用于软件连接器无法支持的复杂自动化任务。</p>
                        <div class="feature-list">
                            <a><i class="flaticon-cloud-computing"></i></a>
                            <div class="list-single">
                                <h5>桌面软件、网页应用任意控制</h5>
                                <p>支持微信、钉钉、OA、ERP、CRM等任意桌面程序、网页应用的数据提取、表单填写、任意键鼠操作及API调用，轻松实现各类流程自动化任务。</p>
                            </div>
                        </div>
                        <div class="feature-list">
                            <a><i class="flaticon-app"></i></a>
                            <div class="list-single">
                                <h5>手机App随心自动化</h5>
                                <p>能驱动手机任意App进行输入、点击、手势滑动、提取数据等操作，支持同时控制多台手机设备。</p>
                            </div>
                        </div>
                        <div class="feature-list">
                            <a><i class="flaticon-calculator"></i></a>
                            <div class="list-single">
                                <h5>类人语言开发，简单更快捷</h5>
                                <p>通过可视化的拖拉拽，模拟人在任何应用程序上进行鼠标点击、键盘输入、信息读取等操作，是一款人人都能用的RPA，让人不必像机器一样工作。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Row -->
    </div>
</div>
<!-- End About Area -->
<!-- Start About Area -->
<div class="feature-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="feature-inner">
                    <div class="feature-text">
                        <a href="{:addon_url('formulascc/product/bi', '', false, true)}" onclick="return false;">
                            <h3><span class="color-text">数据采集器</span></h3>
                        </a>
                        <p>高效云原生数据采集器，高度定制化，不仅支持网页，更支持小程序、app等应用的数据采集，支持定制api接口采集更稳定，助您海量数据，轻松挖掘有价值数据。</p>
                        <div class="feature-list">
                            <a><i class="flaticon-eyeglasses"></i></a>
                            <div class="list-single">
                                <h5>云采集，7*24高效不间断</h5>
                                <p>通过在Web页面可视化拖、拉、拽等操作，点点鼠标，轻松搭建企业级BI应用。</p>
                            </div>
                        </div>
                        <div class="feature-list">
                            <a><i class="flaticon-database-1"></i></a>
                            <div class="list-single">
                                <h5>支持api对接，数据维度更多</h5>
                                <p>提供海量2D、3D可视化组件及素材，轻松一键可用。</p>
                            </div>
                        </div>
                        <div class="feature-list">
                            <a><i class="flaticon-locked-4"></i></a>
                            <div class="list-single">
                                <h5>隐私保护 & 安全可靠</h5>
                                <p>企业和个人隐私保护，数据采集安全合规，助力数据要素，安全有序流通。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="feature-image item-bounce">
                    <img src="__ADDON__/pezion/img/feature/pd2.png" alt="">
                </div>
            </div>
        </div>
        <!-- end Row -->
    </div>
</div>
<!-- End About Area -->

<!-- Start Subscribe area -->
<div class="counter-area fix">
    <div class="container-full">
        <!-- Start counter Area -->
        <div class="row">
            <div class="fun-content">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <!-- fun_text  -->
                    <div class="fun_text ">
                        <span class="counter">980</span>
                        <h4>完成项目</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <!-- fun_text  -->
                    <div class="fun_text">
                        <span class="counter">50</span>
                        <h4>服务客户</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <!-- fun_text  -->
                    <div class="fun_text">
                        <span class="counter">110</span>
                        <h4>覆盖行业</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <!-- fun_text  -->
                    <div class="fun_text last-content">
                        <span class="counter">550</span>
                        <h4>应用场景</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Subscribe area -->

<!-- Start Reviews Area -->
<div name="contact-us" class="reviews-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h3>联系我们</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Reviews Area -->

<!-- Start Brand Area -->
<div class="banner-area area-90">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="banner-all">
                    <div class="banner-content">
                        <h3>即刻起，我们将与您一起，构建企业数字化未来。</h3>
                        <div class="contact-source">
                            <a class="mail-btn" href="#contact-us">电话：400-618-6468</a>
                            <a class="mail-btn" href="#contact-us">邮箱：business@formulas.cc</a>
                            <a class="banner-btn" href="#contact-us">联系我们</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Area -->


<!-- Start Reviews Area -->
<div name="customer-voice" class="reviews-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h3>被众多用户所信任</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Reviews Area -->

<!-- Start testimonials Area -->
<div class="reviews-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="Reviews-content">
                    <!-- start testimonial carousel -->
                    <div class="testimonial-carousel item-indicator">
                        {cms:diydatalist diyform="5" id="item" row="20"}
                        <div class="single-testi">
                            <div class="testi-text">
                                <div class="clients-text">
                                    <p>{$item.content}</p>
                                    <div class="client-rating">
                                        {for start="1" end=$item.star}
                                        <a href="#"><i class="icon icon-star"></i></a>
                                        {/for}
                                    </div>
                                </div>
                                <div class="testi-img ">
                                    <img src="{$item.image|cdnurl}" alt="">
                                    <div class="guest-details">
                                        <h4>{$item.staff}</h4>
                                        <span class="guest-rev">{$item.department} - <a href="{$item.website}">{$item.organization}</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {/cms:diydatalist}
                        <!-- End single item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End testimonials end -->