{layout name="common/layout" /}

<style>
    .panel-default {
        padding: 0;
    }

    .panel-default>.panel-heading {
        position: relative;
        padding: 15px 10px;
    }

    .panel-default>.panel-body {
        position: relative;
        padding: 15px 10px;
    }
</style>

<div class="reviewer-area  area-padding-2">
    <div class="container" id="content-container">

        <div class="row">
            <main class="col-xs-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span>{cms:config name="cms.title"/}, 共找到 <span class="text-danger">{:$__PAGELIST__->total()}</span> 条信息</span>

                            <div class="more">
                                <ul class="list-unstyled list-inline category-order clearfix">
                                    <!-- S 排序 -->
                                    {cms:pageorder id="order"}
                                    <li><a href="{$order.url}" class="{$order.active?'active':''}">{$order.title|htmlentities}</a></li>
                                    {/cms:pageorder}
                                    <!-- E 排序 -->
                                </ul>
                            </div>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="article-list">
                            <!-- S 列表 -->
                            {cms:pagelist id="item"}
                            {include file="common/item"}
                            {/cms:pagelist}
                            <!-- E 列表 -->
                        </div>

                        <!-- S 分页 -->
                        {include file="common/pageinfo" /}
                        <!-- E 分页 -->
                    </div>
                </div>
            </main>

        </div>
    </div>
</div>