{layout name="common/layout" /}

<style>
    /* ========================= VIDEOS PART ========================= */
    .full_wdth_single_video .sidebar {
        margin-top: 20px;
    }

    .vidz-prt {
        width: 100%;
        margin-bottom: 25px;
    }

    /*=================================mn-sec================================*/
    .mn-sec {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 34px;
    }

    .vid-1 {
        width: 100%;
    }

    .vid-pr {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .vid-pr img {
        width: 100%;
    }

    .vid-info {
        width: 100%;
    }

    .vid-info h3 {
        color: #C3C3D2;
        font-size: 22px;
        line-height: 26px;
        font-weight: 400;
        margin-top: 12px;
    }

    .single_video .vid-info h3 {
        margin-top: 17px;
        font-size: 22px;
        color: #1c1b1b;
    }

    .info-pr {
        margin-top: 18px;
    }

    .info-pr {
        border-bottom: 2px solid #e2ebef;
        padding-bottom: 13px;
    }

    .info-pr>span {
        float: left;
        color: #6e6f70;
        font-size: 16px;
        line-height: 19px;
    }

    .pr_links {
        float: right;
        position: relative;
        width: 70%;
        text-align: right;
        margin-bottom: 10px;
    }

    .pr_links:before {
        content: '';
        width: 156px;
        height: 2px;
        position: absolute;
        bottom: -25px;
        right: 12px;
    }

    .pr_links li button i {
        margin-right: 12px;
    }

    .pr_links li button i.icon-thumbs_down {
        position: relative;
        top: 2px;
    }

    .pr_links li span {
        margin: 0;
        display: inline-block;
        position: relative;
        font-size: 16px;
        color: #6e6f70;
    }

    .pr_links li {
        display: inline-block;
        margin-right: 21px;
    }

    .pr_links li:last-child {
        margin-right: 0;
    }

    .pr_links span {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #777781;
    }

    .pr_links li button {
        background-color: inherit;
        border: 0;
    }

    .pr_links li button:hover {
        color: inherit;
    }

    .vid-1 .vid-info {
        margin-top: 25px;
    }

    /* ================== VIDEO PLAYER ================= */
    .video-js {
        width: 100%;
        height: 720px;
    }

    .video-js-xs {
        width: 100%;
        height: 180px;
    }

    iframe {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0
    }

    /* ================== ABOUT SECTION ================= */
    .about-ch-sec {
        padding-top: 10px;
    }

    .abt-rw {
        margin-bottom: 16px;
    }

    .abt-rw>h4 {
        color: #2e2e2e;
        font-size: 16px;
        font-weight: 500;
        margin-top: 5px;
        margin-bottom: 2px;
    }

    .abt-rw ul {
        display: block;
    }

    .abt-rw ul li:first-child {
        padding-left: 0;
    }

    .abt-rw ul li {
        display: inline-block;
        position: relative;
        padding: 0 5px;
    }

    .abt-rw ul li:before {
        content: ',';
        position: absolute;
        top: 0;
        right: -2px;
        color: #7e7e7e;
        font-size: 16px;
    }

    .abt-rw ul li:last-child:before {
        display: none;
    }

    .abt-rw ul li span {
        display: inline-block;
        color: #7e7e7e;
        font-size: 16px;
    }

    .abt-rw>p {
        color: #7e7e7e;
        font-size: 16px;
        line-height: 23px;
    }

    .abt-rw.tgs ul li a {
        font-size: 16px;
    }

    .abt-rw.tgs ul li:before {
        display: none;
    }

    .img-zoom {
        overflow: hidden;
        display: block;
    }

    /* ========================= COMMENT BOX ========================= */
    .cmt-bx {
        width: 100%;
        padding-top: 23px;
    }

    .cmt-pr {
        float: left;
        width: 100%;
        border-bottom: 1px solid #e2ebef;
        padding-bottom: 24px;
    }

    .cmt-pr li {
        float: left;
        color: #1c1b1b;
        font-size: 16px;
        font-weight: 400;
    }

    .cmt-pr li span {
        display: inline-block;
        font-weight: 500;
        color: #1c1b1b;
    }

    .cmt-pr li:last-child {
        margin-right: 0;
        float: right;
    }

    .cmt-pr li:last-child span i {
        margin-right: 11px;
        position: relative;
        top: 1px;
    }

    .cmt-pr li svg {
        position: relative;
        top: 4px;
    }
</style>

<div class="reviewer-area  area-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div id="my-video" class="video-js hidden-xs">
                    {if $__ARCHIVES__.is_paid_part_of_content || $__ARCHIVES__.ispaid}
                    {cms:archives name="content" /}
                    {/if}
                </div>
                <div id="my-video" class="video-js-xs hidden-lg hidden-md hidden-sm">
                    {if $__ARCHIVES__.is_paid_part_of_content || $__ARCHIVES__.ispaid}
                    {cms:archives name="content" /}
                    {/if}
                </div>
            </div>
        </div>
        <section class="mn-sec full_wdth_single_video">
            <div class="row">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mn-vid-sc single_video">
                            <div class="vid-1">
                                <div class="vid-info">
                                    <h3>{cms:archives name="title|htmlentities" /}</h3>
                                    <div class="info-pr"><span>{cms:archives name="views" /} 次观看， </span><span>{cms:archives name="publishtime|\\fast\\Date::human" /}</span>
                                        {include file="common/donate" /}
                                        <div class="clearfix"></div>
                                    </div><!--info-pr end-->
                                </div><!--vid-info end-->
                            </div><!--vid-1 end-->
                            <div class="abt-mk">
                                <div class="about-ch-sec">
                                    {include file="common/metainfo" /}
                                </div><!--about-ch-sec end-->
                            </div><!--abt-mk end-->
                            <div class="cmt-bx">
                                {if $config.iscomment && config('fastadmin.usercenter')}
                                <ul class="cmt-pr">
                                    <li><span>{cms:archives name="comments" /}</span> 评论</li>
                                </ul>
                                <div class="clearfix"></div>
                                <div class="panel panel-default" id="comments">
                                    <div class="panel-body">
                                        {if $__ARCHIVES__.iscomment}
                                        {include file="common/comment" type="archives" aid="__ARCHIVES__.eid"}
                                        {else/}
                                        <div class="text-muted text-center">评论功能已关闭</div>
                                        {/if}
                                    </div>
                                </div>
                                {/if}
                            </div>
                            <div class="abt-mk">
                                <div class="about-ch-sec">
                                    {include file="common/related" /}
                                </div><!--about-ch-sec end-->
                            </div>
                        </div><!--mn-vid-sc end--->
                    </div><!---col-lg-9 end-->
                </div>
            </div>
        </section><!--mn-sec end-->
    </div>
</div>