<!-- S 点赞 -->
<div class="article-donate">
    <ul class="pr_links">
        <li>
            <a href="javascript:" class="btn-like" data-action="vote" data-type="like" data-id="{cms:archives name='id' /}" data-tag="archives">
                <button data-toggle="tooltip" data-placement="top" title="喜欢"><i class="flaticon-like-1"></i></button><span>{cms:archives name="likes" /}</span>
            </a>
        </li>
        {if config('cms.donateimage')}
        <li>
            <a href="javascript:" class="btn-donate" data-action="donate" data-id="{cms:archives name='id' /}" data-image="{$config.donateimage|cdnurl}">
                <button data-toggle="tooltip" data-placement="top" title="打赏"><i class="fa fa-cny"></i></button><span>打赏</span>
            </a>
        </li>
        {/if}
    </ul>
</div>
<!-- E 点赞 -->