<div class="abt-rw">
    <h4>分类：</h4>
    <ul>
        <li><span>{cms:channel name="name|htmlentities" /}</span></li>
    </ul>
</div>
<div class="abt-rw tgs">
    <h4>标签：</h4>
    <ul>
        {volist name="$__ARCHIVES__.taglist" id="tag" empty="无"}<li><a href="{$tag.url}" title="">#{$tag.name|htmlentities}</a></li>{/volist}
    </ul>
</div>
<div class="abt-rw">
    <h4>简介：</h4>
    <ul>
        <li><span>{cms:archives name="description|htmlentities" /}</span></li>
    </ul>
</div>

<div class="abt-rw">
    <ul class="article-prevnext">
        <!-- S 上一篇下一篇 -->
        {cms:prevnext id="prev" type="prev" archives="__ARCHIVES__.id" channel="__CHANNEL__.id"}
        <li>
            <span>上一篇 &gt;</span>
            <a href="{$prev.url}">{$prev.title|htmlentities}</a>
        </li>
        {/cms:prevnext}

        &nbsp;

        {cms:prevnext id="next" type="next" archives="__ARCHIVES__.id" channel="__CHANNEL__.id"}
        <li>
            <span>下一篇 &gt;</span>
            <a href="{$next.url}">{$next.title|htmlentities}</a>
        </li>
        {/cms:prevnext}
        <!-- E 上一篇下一篇 -->
    </ul>
</div>